<div class="container-fluid footer mt-5">
    <div class="row">

        <!-- Name -->
        <div class="col-lg-4">
            <h1>KitchenWeb</h1>
            <p>~For the love of delicious food</p>
        </div>  

        <!-- Nav-->
        <div class="col-lg-6">
            <a routerLink="">|  Home |</a>
            <a routerLink="menu">|  Menu  |</a>
            <a routerLink="about">|  AboutUs  |</a>
            <a routerLink="contact">|  ContactUs  |</a>
        </div>

        <!-- Social Media-->
        <div class="col-lg-2">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>